global:
  kernel_s3_resource: "fcos/vmlinuz"
  initrd_s3_resources:
  - "fcos/initramfs.img"
  rootfs_s3_resource: "fcos/worker-rootfs.img"
  kargs:
  - "ignition.firstboot"
  - "ignition.platform.id=metal"

overlays:
- selector:
  - "aa:bb:cc:dd:ee:01"
  - "aa:bb:cc:dd:ee:02"
  ignition_s3_resource: "ignition/worker.ign"
  kargs:
  - "console=tty0"