listen: 0.0.0.0:8443
serverCert: /config/outputs/server/tls.crt
serverKey: /config/outputs/server/tls.key
trustedCAs:
- /config/outputs/server/ca.crt
allowedClientCNs:
- ipxe-node-1
s3Endpoint: https://127.0.0.1:9000
s3Bucket: boot
s3TrustedCAs:
- /config/outputs/minio/certs/CAs/ca.crt
PresignTTL: 60s
advertiseURL: https://ipxe.local:8443

profiles:
- selector:
    "mac:hexhyp":
    - aa-bb-cc-dd-ee-01
    - aa-bb-cc-dd-ee-02
    "buildarch:uristring":
    - x86_64
  kernelURL: {{ presign "fcos/vmlinuz-${buildarch:uristring}" }}
  initrdURLs:
  - {{ presign "fcos/initramfs-${buildarch:uristring}.img" }}
  kargs:
  - console=tty0
  - ignition.config.url={{ presign "ignition/worker-${mac:hexhyp}.ign" }}
  - coreos.live.rootfs_url={{ presign "fcos/rootfs-${buildarch:uristring}.img" }}
- selector:
    "mac:hexhyp":
    - aa-bb-cc-dd-ee-02
  kargs:
  - ignition.firstboot